<div id="body">
  <div class="container">
    <img src="../../../assets/img/nave-alien.svg" alt="" />
    <h1>Bienvenidos al Curso de Angular 17</h1>
    <p class="parrafo1">
      <span class="negrita"
        >Es una librería open source de JavaScript para desarrollar interfaces
        de usuario.</span
      >
      Fue lanzada en el año 2013 y desarrollada por
      <span class="facebook">Facebook</span>, quienes también la mantienen
      actualmente junto a una comunidad de desarrolladores independientes y
      compañías.
    </p>
    <p class="parrafo2">
      Hoy en día muchas empresas de primer nivel utilizan React para el
      desarrollo de sus aplicaciones, y es que entre ellas podemos encontrar
      <span class="facebook">Facebook</span>,
      <span class="instagram">Instagram</span> y el cliente web de
      <span class="whatsapp">WhastApp</span>
      (todas propiedad de Facebook), y otras como
      <span class="rojo">AirBnb, Uber, Netflix, Twitter, Reddit o Paypal.</span>
    </p>
  </div>
</div>
